#
# Requires:
#  PHP 7.1
#  https://github.com/rosasurfer/phpstan, branch "0.8-pewa"
#
# Usage:
#  alias phpstan08='php71 -d memory_limit=-1 -d short_open_tag=On /path/to/phpstan/bin/phpstan --ansi'
#  phpstan08 analyse -a etc/phpstan/autoload.php -c etc/phpstan/config.neon --level=0..7 [--] <path>
#

parameters:
    autoload_files:
        - etc/phpstan/api-stubs.php                                 # stubs for PHP extensions and procedural code

    excludes_analyse:
        - doc/
        - etc/
        - src/globals.php
        - vendor/

    universalObjectCratesClasses:
        - rosasurfer\ministruts\Page

    polluteScopeWithLoopInitialAssignments: true
    polluteCatchScopeWithTryAssignments:    true

    ignoreErrors:
        # intentionally ignore the following issues
        - '/Array \(([^ ]+)\[\]\) does not accept (\1\|)?null\b/'                                                   # NULL is a value and not a type. It should always be valid.
        - '/(Static )?property [^ ]+ \(([^ ]+)\) does not accept (\2\|)?null\b/i'                                   # - dito -
        - '/Parameter #[0-9]+ [^ ]+ of class [^ ]+ constructor expects ([^ ]+), (\1\|)?null given\b/'               # - dito -
        - '/Parameter #[0-9]+ [^ ]+ of (static )?(function|method) [^ ]+ expects ([^ ]+), (\3\|)?null given\b/'     # - dito -
        - '/Calling method [^ ]+\(\) on possibly null value of type [^ ]+\|null\b/'
        - "/Casting to (bool|int|float|string) something that's already (bool|int|float|string)/"                   # PHPStan ignores non-initialized vars
        - '/Strict comparison using [=!]== between (int|string) and null will always evaluate to (true|false)\b/'

        # false positives since v0.8+
        - '/Method rosasurfer\\db\\orm\\meta\\EntityMapping::getVersion\(\) should return rosasurfer\\db\\orm\\meta\\PropertyMapping\|null but returns bool\|rosasurfer\\db\\orm\\meta\\PropertyMapping\|null\b/'

        # false positives since v0.8.3+
        - '/Method rosasurfer\\db\\orm\\PersistableObject::getRelationValue\(\) should return rosasurfer\\db\\orm\\PersistableObject\[\]\|rosasurfer\\db\\orm\\PersistableObject\|null but returns rosasurfer\\db\\orm\\PersistableObject\[\]\|bool\|float\|int\|rosasurfer\\db\\orm\\PersistableObject\|string\|null\b/'       
        - '/Parameter #1 \$value of method rosasurfer\\db\\orm\\DAO::escapeLiteral\(\) expects bool\|float\|int\|string, rosasurfer\\db\\orm\\PersistableObject\[\]\|bool\|float\|int\|rosasurfer\\db\\orm\\PersistableObject\|string given\b/'                                                                             
        

services:
        # service classes must be loaded via etc/phpstan/autoload.php
        # (services are initialized before execution of block "parameters/autoload_files")
    -
        class: rosasurfer\phpstan\DAO_Find_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\phpstan\DAO_FindAll_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\phpstan\PersistableObject_Dao_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\phpstan\PersistableObject_PopulateNew_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\phpstan\Singleton_GetInstance_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
