#
# alias phpstan='php7 -d memory_limit=128M ~/.composer/vendor/phpstan/phpstan/bin/phpstan --ansi'
#
# phpstan analyse -a autoload.php -c config.neon --level=0 [--] <directory>
#

services:                                                           # loaded before auto-loading in block "parameters" 
    -
        class: rosasurfer\db\orm\phpstan\DAO_Find_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\DAO_FindAll_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\PersistableObject_Dao_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\db\orm\phpstan\PersistableObject_PopulateNew_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: rosasurfer\core\phpstan\Singleton_GetInstance_ReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
                                                
parameters:
    autoload_files:
        - etc/phpstan/function-stubs.php                            # stubs for PHP extensions and procedural code
        - src/globals.php

    fileExtensions:                                                 # additional files to analyse
       #- html
       #- phtml                                                     # TODO: Tiles default variables trigger errors

    excludes_analyse:
        - etc/vendor/
        - src/util/apc/apc.php                                      # TODO: replace it

    reportUnmatchedIgnoredErrors:           false
    polluteScopeWithLoopInitialAssignments: true
    polluteCatchScopeWithTryAssignments:    true
    
    ignoreErrors:
        - '/Call to ((static )?method|function) [^ ]+ with incorrect case:/'                            # seriously?
        - '/(Array \([^ ]+\[\]\)|(Static )?property [^ ]+ \(([^ ]+)\)) does not accept (\3\|)?null\b/i' # everything is nullable
       #- '/Parameter #[0-9]+ [^ ]+ of (static )?method [^ ]+ expects ([^ ]+), \2\|null given\b/'       # everything accepts NULL
        - "/Casting to (bool|int|float|string) something that's already (bool|int|float|string)./"      # flawed implementation

        # not yet fixed PHPStan bugs 
        - '/Cannot call method andDependency\(\) on null\b/'
        - '/Method rosasurfer\\db\\orm\\meta\\EntityMapping::getVersion\(\) should return rosasurfer\\db\\orm\\meta\\PropertyMapping\|null but returns bool\|rosasurfer\\db\\orm\\meta\\PropertyMapping\|null\b/'
        - '/Parameter #1 \$mode of method rosasurfer\\ministruts\\ActionMapping::setFormValidateFirst\(\) expects bool, bool\|mixed given\b/'
