#
# File format:
#  @see  https://phpstan.org/config-reference
#
includes:
  - include/php-version.neon.php                    # fetch PHP version specific settings
  - extension.neon


parameters:
  level: 8                                          # default rule level, a rule level on the command line overrides this value

  bootstrapFiles:                                   # initialize runtime environment before PHPStan runs
    - init.php

  paths:                                            # analyzed paths, paths on the command line override these values
    - ../../bin
    - ../../src
    - ../../tests
    - .                                             # etc/phpstan itself

  excludePaths:                                     # excludeAnalyze + excludeScan
    - symbols
    - ../tmp
    - ../../vendor

  scanFiles:                                        # scanned for symbols only, not analyzed (for legacy or future code)

  stubFiles:                                        # custom PHPDoc annotations overriding vendor definitions

  dynamicConstantNames:                             # changing constants, depending on the environment
    - rosasurfer\ministruts\CLI
    - rosasurfer\ministruts\MACOS
    - rosasurfer\ministruts\WINDOWS
    - rosasurfer\ministruts\NUL_DEVICE

  universalObjectCratesClasses:
    - rosasurfer\ministruts\struts\ActionForm

  checkUninitializedProperties: true

  ignoreErrors:
   #- identifier: isset.initializedProperty
    - identifier: new.static                        # opinionated


  reportUnmatchedIgnoredErrors: false

  parallel:
    maximumNumberOfProcesses: 4
  tmpDir:       ../tmp/phpstan
  tipsOfTheDay: false
  tips:
    discoveringSymbols: false
