#
# Usage:
#  See the PHPStan wrapper "bin/phpstan".
#
# File format:
#  @see  https://phpstan.org/config-reference
#
includes:
  - include/by-php-version.neon.php                 # fetch PHP version specific settings


parameters:
  level: 7                                          # default rule level, a rule level on the command line overrides this value

  bootstrapFiles:                                   # initialize the PHP runtime environment before PHPStan runs
    - init.php

  paths:                                            # analyzed paths, paths on the command line override these values
    - ../../bin
    - ../../src
    - ../../test
    - .                                             # etc/phpstan itself

  excludePaths:                                     # excludeAnalyze + excludeScan
    - .tmp
    - symbols
    - ../../vendor

  scanFiles:                                        # scanned for symbols only, not analyzed (legacy or future code)
    - symbols/php_mysql.php

  stubFiles:                                        # custom PHPDoc annotations overriding 3rd-party definitions

  dynamicConstantNames:                             # changing constants, depending on the environment
    - rosasurfer\ministruts\_CLI
    - rosasurfer\ministruts\_LOCALHOST
    - rosasurfer\ministruts\_MACOS
    - rosasurfer\ministruts\_WINDOWS
    - rosasurfer\ministruts\_NUL_DEVICE

    - rosasurfer\ministruts\CLI
    - rosasurfer\ministruts\LOCALHOST
    - rosasurfer\ministruts\MACOS
    - rosasurfer\ministruts\WINDOWS
    - rosasurfer\ministruts\NUL_DEVICE

  universalObjectCratesClasses:
    - rosasurfer\ministruts\struts\ActionForm

  ignoreErrors:
    # silence erroneous checks
    - '#^Unsafe usage of new static\(\)\.$#'

  reportUnmatchedIgnoredErrors: false

  parallel:
    maximumNumberOfProcesses: 4
  tmpDir:       .tmp
  tipsOfTheDay: false


services:                                           # must be loadable via Composer
  - class: rosasurfer\ministruts\phpstan\CoreFunctionReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
