#
# Usage:
#  See the PHPStan wrapper "bin/phpstan".
#
# File format:
#  @see https://phpstan.org/config-reference
#
parameters:
  phpVersion: 70400                             # assume this PHP version if running under a different one
  level:      7                                 # default rule level, a rule level on the command line overrides this value

  bootstrapFiles:                               # initialize the PHP runtime before PHPStan runs (executed as regular PHP)

  scanFiles:                                    # scanned for additional symbols, not analyzed (e.g. stubs for unavailable PHP extensions)
    - symbols/php-extensions.php

  stubFiles:                                    # custom PHPDoc annotations overriding 3rd-party userland typing

  paths:                                        # analyzed paths, paths on the command line override these values
    - ../../bin
    - ../../src
    - ../../test
    - extension

  excludePaths:
    - ../../vendor
    - .tmp

  dynamicConstantNames:                         # dynamic constants with values depending on the environment
    - rosasurfer\ministruts\_CLI
    - rosasurfer\ministruts\_LOCALHOST
    - rosasurfer\ministruts\_MACOS
    - rosasurfer\ministruts\_WINDOWS
    - rosasurfer\ministruts\_NUL_DEVICE

    - rosasurfer\ministruts\CLI
    - rosasurfer\ministruts\LOCALHOST
    - rosasurfer\ministruts\MACOS
    - rosasurfer\ministruts\WINDOWS
    - rosasurfer\ministruts\NUL_DEVICE

  universalObjectCratesClasses:
    - rosasurfer\ministruts\struts\ActionForm

  typeAliases:
    STACKFRAME: 'array{file?:string, line?:int, class?:string, type?:"->"|"::", function?:string, object?:object, args?:mixed[], __ministruts_adjusted__?:int}'

  ignoreErrors:
    # skip broken PHPStan checks
    - '#^Unsafe usage of new static\(\)\.$#'

  reportUnmatchedIgnoredErrors: false

  parallel:
    maximumNumberOfProcesses: 4
  tmpDir:       .tmp
  tipsOfTheDay: false


services:
  - class: rosasurfer\ministruts\phpstan\extension\CoreFunctionReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
